*, *::before, *::after {
  margin: 0;
  padding: 0;
}
body {
  background-color: #161512 linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px) no-repeat;
}
html {
  box-sizing: border-box;
  color-scheme: dark;
  height: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.board {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none;
  width: 688px;
  height: 688px;
  background-image: url('./assets/board.svg');
  background-size: cover;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12.5%;
  height: 12.5%;
}
.king {
  background-image: url("./assets/figures/king-white.svg");
}
.queen {
  background-image: url("./assets/figures/queen-white.svg");
}
.bishop {
  background-image: url("./assets/figures/bishop-white.svg");
}
.knight {
  background-image: url("./assets/figures/knight-white.svg");
}
.rook {
  background-image: url("./assets/figures/rook-white.svg");
}
.pawn {
  background-image: url("./assets/figures/pawn-white.svg");
}

.king.black {
  background-image: url("./assets/figures/king-black.svg");
}
.queen.black {
  background-image: url("./assets/figures/queen-black.svg");
}
.bishop.black {
  background-image: url("./assets/figures/bishop-black.svg");
}
.knight.black {
  background-image: url("./assets/figures/knight-black.svg");
}
.rook.black {
  background-image: url("./assets/figures/rook-black.svg");
}
.pawn.black {
  background-image: url("./assets/figures/pawn-black.svg");
}